@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&family=Smooch+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

$display-font: "Handjet", sans-serif;
$calc-font: "Smooch Sans", sans-serif;
$awesome-font: "Berkshire Swash", serif;

$background-color: rgb(252,252,247);
$accent-color-pink: rgb(255,180,173);
$accent-color-peach: rgb(255,201,164);
$accent-color-teal: rgb(79,184,180);
$accent-color-darkTeal: rgb(37,159,164);
$display-color-grey: rgb(132,133,125);
$display-color-black: rgb(83,75,75);
$easter-egg-color: rgb(240,78,138);
$white-color: white;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;