$background-color: rgb(254,182,193);
$accent-color-blue: rgb(0,50,103);
$accent-color-orange: rgb(255,138,47);
$display-color-grey: rgb(58,58,58);

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;